node_modules/
temp/
__pycache__/
*.pyc
*.pyo
data/msg/file/*.xlsx
data/msg/file/*.html
data/msg/file/*.png
data/msg/file/~$*.xlsx
data/msg/file/2026-03/
data/msg/file/2026-05/
data/msg/attach/
data/msg/video/
data/__pycache__/
*.log
*.traineddata
dist/
build/
*.spec
